name: Build and Deploy
on: [push, pull_request]

jobs:
  build:
    name: Build
    
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]
    
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Download Firebase
        run: npm install -g firebase-tools
      - name: Download eslint
        run: npm install -g eslint
      - name: Download eslint-plugin-promise
        run: npm install eslint-plugin-promise@latest --save-dev
      - name: Checkout submodules # checkout rest
        shell: bash
        run: |
          # If your submodules are configured to use SSH instead of HTTPS please uncomment the following line
          # git config --global url."https://github.com/".insteadOf "git@github.com:"
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - name: Install Dependencies
        working-directory: ./shiraberu-client
        run: npm install
      - name: Install Firebase Functions Dependedncies
        run: npm install
        working-directory: shiraberu-client/functions
      - name: Build
        working-directory: ./shiraberu-client
        run: npm run build
      - name: Deploy to Firebase
        working-directory: ./shiraberu-client
        run: firebase deploy --token ${{ secrets.FIREBASE_TOKEN }}
